<form action="/login" method="POST">

  <div class="form-group">
    <label for="login">Login</label>
    <input type="login" class="form-control" id="login" name="login" aria-describedby="loginHelp"
      placeholder="Enter login">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary" id="btn_login">Войти</button>
</form>