

      <table>
        <tr>
          <th>№</th>
          <th>Message</th>   
        </tr> 
        <% messages.forEach(function(item) { %>
          <tr>
            <td class="id"><%=item.id %></td>
            <td class="editable_value"><%=item.value %></td>
            <td><button class="delete_button">Delete</button></td>
          </tr>
          <% }); %>
        </table>  





