<h1>Главная страница</h1>
<a href="/login"><button type="button" class="btn btn-outline-info">Войти</button></a>
<a href="/signup"><button type="button" class="btn btn-outline-info">Зарегистрироваться</button></a>