{{#if messages.length}}
<tr>
  <th>№</th>
  <th>Message</th>
</tr>
{{#each messages}}
<tr>
  <td class="id">{{id}}</td>
  <td class="editable_value">{{value}}</td>
  <td><button class="delete_button btn btn-secondary">Delete</button></td>
</tr>
{{/each}}
{{else}}
<p style=" margin-top: 50px;"><b>No messages<b></p>
{{/if}}