<div class="input">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="New message" id="add_input">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="add_btn">Добавить</button>
        </div>
    </div>
</div>
<div id="sort" style="text-align: center;">
    <input name="sort" type="radio" value="asc_num" checked> Ascending order number
    <input name="sort" type="radio" value="desc_num"> Descending order number
    <input name="sort" type="radio" value="asc_alp"> In alphabetical order
    <input name="sort" type="radio" value="desc_alp"> In reverse alphabetical order
</div>


<table id="my_table" data-src={{id_user}}></table>
</body>

<script id="MyLoads" src="http://localhost:3000/static/js/table.js" type="text/javascript" defer></script>