<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Мой список</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>




    <div class="input">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="New message" id="add_input">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="add_btn">Добавить</button>
            </div>
        </div>
    </div>
    <div id="sort" style="text-align: center;">
        <input name="sort" type="radio" value="asc_num" checked> Ascending order number
        <input name="sort" type="radio" value="desc_num"> Descending order number
        <input name="sort" type="radio" value="asc_alp"> In alphabetical order
        <input name="sort" type="radio" value="desc_alp"> In reverse alphabetical order
    </div>


    <table id="my_table" data-src={{id_user}}></table>
</body>

<script id="MyLoads" src="http://localhost:3000/static/js/table.js" type="text/javascript" defer></script>

</html>