
table{
    margin: auto;  
}


input{
    font-size: 20px
}

ul{
    font-size: 10px;
    list-style-type: none; 
    text-align: center;
}

#sort{
    margin: auto;
}


.nav-link{
     font-size: large;
}


.input{
    width: 40%;
    margin: auto;
}