
table{
    margin: auto;  
}


input{
    font-size: 20px
}

#sort{
    margin: auto;
}


.nav-link{
     font-size: large;
}


.input{
    width: 40%;
    margin: auto;
}

.container{
    text-align: center;      
}

tr{
    border: outset;
}